.navbar{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    font-family: 'Urbanist', sans-serif;
}

.nav {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo{
    padding-left: 20px;
    width: 250px;
    cursor: pointer;
}

.nav-right {
    display: flex;
    align-items: center;
    padding-right: 40px;
}

.nav-right ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
}

.nav-right ul li {
    margin: 0 10px;
}

.nav-right ul li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.nav-right ul li a:hover {
    color: #E52020;
}

#login-link {
    padding-right: 20px;
}

.login-button {
    background-color: #fff; 
    color: #333;
    border: 2px solid #E52020;
    padding: 10px 20px;
    font-size: 16px;
    border-color: #E52020;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: bold;
    font-family: 'Urbanist', sans-serif;
}

.login-button:hover {
    background-color: #E52020; 
    transform: scale(1.05);
    color: #fff;
}

.nav-line {
  height: 2px;
  background-color: #E52020;
  width: 100%;
}