#add-funding-button button {
    width: 168px;
    height: 55px;
    border-radius: 10px;
    box-shadow: none;
    color: #333;
    font-weight: 500;
    border-color: #333;
    background-color: white;
}