.investasi-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    font-size: 28px;
}

#investasi {
    text-decoration: none;
}

#investasi h1 {
    margin-bottom: 16px;
}

#investasi p, #investasi strong{
    font-family: 'Urbanist', sans-serif;
}

.investasi-container .investment-video {
    width: 560px;
    height: 310px;
    background-color: #d3d3d3;
    border-radius: 20px;
}

.investment-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}